@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800&display=swap");

:root {
  --primary: #04025b;
  --blue: #ffffff;
  --secondary: blue;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border;
  font-family: "Inter", sans-serif;
}
